@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    /* Color Palette */
    --background : #262626;
    --card-back : #fc6d2a;
    --card-front : #f0e5d3;
    --other : #f6b251;
}


body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: white;
}

.main header {
    font-family: 'Indie Flower', Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 40px 0px;
}

.main .card-grid {
    width: 50%;
    padding: 10px;
    margin: 2px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main .card-container {
    padding: 20px;
}

.main .card{
    width: 150px;
    height: 150px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.card-back {
    background-color: var(--card-back);
}

.card-front {
    background-color: var(--card-front);
    color: var(--background);
}


.back-icon-hidden {
    color: var(--card-back)
}