@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    /* Color Palette */
    --background : #262626;
    --card-back : #fc6d2a;
    --card-front : #f0e5d3;
    --question-icon : rgba(240,229,211,0.5);
    --other : #f6b251;
}



body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    margin: 50px 100px 0;
}

header {
    padding: 40px 20% 0px;
    overflow: hidden;
}


header .title{
    font-family: 'Indie Flower', Arial, Helvetica, sans-serif;
    font-size: 40px;
    float: left;
}

header .game-controls{
    float: right;
}

header .game-controls button{
    margin: 0px 20px;
    border: none;
    color: white;
    background-color: transparent;
}

.main .card-grid {
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main .card-container {
    padding: 20px;
}

.main .card{
    width: 150px;
    height: 150px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.main .dashboard {
    margin: 30px;
    width: 20%;
    text-align: center;
}

.dashboard h3 {
    margin: 10px 0;
}
.dashboard p {
    line-height: 30px;
}

.dashboard .positions {
    margin-top: 40px;
}

.dashboard .positions .players-box {
    padding: 0 20px;
    text-align: left;
}

.players-box .score-right {
    float: right;
}

.card-back {
    background-color: var(--card-back);
    color: var(--question-icon);
}

.card-front {
    background-color: var(--card-front);
    color: var(--background);
}

.button button, .button input[type='submit']{
    border: none;
    background-color: var(--card-front);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: var(--background);
}

.name-modal .button{
    padding: 30px 0;
}

.name-modal .button input[type='submit']{
    background-color: var(--background);
    color: white;
}

.name-modal .name-title{
    color: var(--background);
}

.modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding-top: 20vh;
    background-color: rgba(0.5, 0.5, 0.5, 0.2);
}

.modal-container .modal {
    width: 30vw;
    background-color: var(--card-front);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.modal-container .modal p {
    font-size: 20px;
}

.modal .close-icon-wrapper {
    text-align: right;
}

.modal .close-icon {
    margin: 10px;
    color: var(--background);
    padding: 10px;
}

.close-icon:hover{
    cursor: pointer;
}
.modal .name-modal .name-title{
    margin: 20px 0;
}